/local-machine/archihub/backend
/local-machine/archihub/frontend/geojson
/original/*
/userfiles/*
/webfiles/*
/temporal/*
/local-machine/data/mongodb/*
/local-machine/data/elastic/*

.env

/network/ansible/*
!/network/ansible/examples
*.Zone.Identifier